.about-me{
    margin:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
img{
    border-radius:50%;
    width:25%;
}
h3{
    font-size:30px;
}
li{
    font-size:20px;
}