.liste-projets h1{
    background-color:black;
    width:100%;
    text-align:center;
    padding:10px;
    color:white;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display:flex;
    justify-content: center;
    align-items: center;
}