.card {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: #92b691;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 5px 0;
}
.undefined{
    display:none;
}