.footer{
    background-color:black;
    width:100%;
    text-align:right;
    padding:10px;
    color:white;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display:flex;
    justify-content: right;
    align-items: center;
    font-size:10px;
    bottom:0;
}